.DS_Store
.env
data/
synthea/output/
__pycache__/
*.pyc
202/
202 Final Report.pdf
202 Final Project Report Copy.pdf
Project Example.pptx
Project Outline.pdf
etl/__pycache__/
db/__pycache__/
qdrant_local/
qdrant_storage/
neo4j_data/
neo4j_logs/
pg_data/
PART4_DONE.md
PART4_TODO.md
mongo_data/
drug-safety-demo.tar